<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806847966194-nf6cqb3r7eqtl31m9692t8adhqup5d92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806847966194-nf6cqb3r7eqtl31m9692t8adhqup5d92</string>
	<key>API_KEY</key>
	<string>AIzaSyAmDoKTcFeTSJwX03lGRO5XYGCjgaYCRNM</string>
	<key>GCM_SENDER_ID</key>
	<string>806847966194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marina.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6a12d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6a12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806847966194:ios:6cae6f7c7c491270f5196b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-6a12d.firebaseio.com</string>
</dict>
</plist>